/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, 
picture, 
svg, 
video {
    display: block;
    max-width: 100%;
}

/* Custom properties */

@font-face {
    font-family: "Young Serif";
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    --clr-neutral-10:  hsl(0 0 100);
    --clr-neutral-100: hsl(30 54 90);
    --clr-neutral-150: hsl(30 18 87);
    --clr-neutral-600: hsl(30 10 34);
    --clr-neutral-900: hsl(24 5 18);

    --clr-primary-200: hsl(30 50 87);
    --clr-primary-800: hsl(14 45 36);

    --clr-accent-50:  hsl(330 100 98);
    --clr-accent-800: hsl(332 51 32);

    --fs-400: 1rem;
    --fs-500: 1.175rem;
    --fs-600: 1.5rem;
    --fs-700: 2.175rem;

    --ff-primary: Outfit;
    --ff-accent: "Young Serif";

    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-bold: 700;

    --lh-400: 1.375rem;
    --lh-700: 2rem;
}

/* COMPONENTS */

body {
    background-color: var(--clr-primary-200);
}

ul {
    list-style: none;
}

li {
    padding-left: 1rem;
    margin-left: 1.475rem;
}

.ingredients ul li,
.preparation-time ul li {
    font-size: 0.925rem;
    position: relative;
}

.ingredients ul li::before,
.preparation-time ul li::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.925rem;
    content: '\2022';
    line-height: 1;
    color: var(--clr-primary-800);
}


.instructions ol li {
    font-weight: var(--fw-bold);
    font-family: var(--ff-primary);
    color: var(--clr-primary-800);
}

.recipe-container {
    background-color: var(--clr-neutral-10);
    display: grid;
    gap: 2rem;
    max-width: 48em;
    margin-inline: auto ;
}

.header {
    display: grid;
    gap: 1.5rem;
}

.preparation-time {
    background-color: var(--clr-accent-50);
    padding: 1.5rem;
    border-radius: 0.875rem;
}

.ingredients,
.instructions {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--clr-neutral-150);
}

.table {
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0.875rem; 
    padding-inline: 1.5rem;
}

.row:not(:last-child) {
    border-bottom: 1px solid var(--clr-neutral-150);
}

/* UTILITY CLASSES */

/* Color Utility Classes */
.bg-neutral-600 {
    background-color: var(--clr-neutral-600);
}
.bg-neutral-900 {
    background-color: var(--clr-neutral-900);
}
.bg-primary-800 {
    background-color: var(--clr-primary-800);
}
.bg-accent-800 {
    background-color: var(--clr-accent-800);
}

.text-neutral-600 {
    color: var(--clr-neutral-600);
}
.text-neutral-900 {
    color: var(--clr-neutral-900);
}
.text-primary-800 {
    color: var(--clr-primary-800);
}
.text-accent-800 {
    color: var(--clr-accent-800);
}

/* Font Size Utility Classes */
.fs-400 {
    font-size: var(--fs-400);
}
.fs-500 {
    font-size: var(--fs-500);
}
.fs-600 {
    font-size: var(--fs-600);
}
.fs-700 {
    font-size: var(--fs-700);
}

/* Font Family Utility Classes */
.ff-primary {
    font-family: var(--ff-primary);
}
.ff-accent {
    font-family: var(--ff-accent);
}

/* Font Weight Utility Classes */
.fw-normal {
    font-weight: var(--fw-normal);
}
.fw-semibold {
    font-weight: var(--fw-semibold);
}
.fw-bold {
    font-weight: var(--fw-bold);
}

/* Line Height Utility Classes */
.lh-700 {
    line-height: var(--lh-700);
}
.lh-400 {
    line-height: var(--lh-400);
}

/* Other */
.display-inline {
    display: inline;
}
.container {
    width: 83%;
    margin-inline: auto;
    display: grid;
    gap: 1rem;
}

.container > * {
    display: grid;
    gap: 0.675rem;
}

/* MEDIA QUERIES */
@media (min-width: 48em) {
    .image {
        width: 92%;
        margin-inline: auto;
        display: grid;
        gap: 1rem;
        margin-top: 2rem;
        border-radius: 0.65rem;
    }

    .container {
        width: 92%;
        margin-inline: auto;
        display: grid;
        gap: 1rem;
    }

    .recipe-container {
        border-radius: 1rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}


/* Frontend Mentor copyright stuff */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}